body{

    background-color: black;

}

.screen-container{

    display: flex;
    column-gap: 100px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto;
    justify-content: center

}

.image-container{
    
    width: 600px;
    
}

.image {
    border: 5px solid red;
    max-width: 100%;
    height: auto;
    text-align: center;
}


#arrow {

    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;


}

.map-container{
    
    text-align: center;
    margin: 0 auto;

}

.map{

    border: 5px solid red;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 50px;

}

.canvas1{

    border: 5px solid red;
    width: 630px;
    height: 460px;
    margin-bottom: 50px;

}

.container{
    
    border: 5px solid red;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center

}

.container-item{

    grid-column: span 3 / span 3;

}

button{

    background-color: red;
    font-size: 55px;
    color: white;

}


.otonom-manuel-surus{

    margin-top: 25px;
    text-align: center;

}

.acil-dur{

    margin-top: 25px;
    text-align: center;

}

.acil-dur button{

    background: red

}

.acil-dur button.clicked{

    background: green

}

.otonom-manuel-surus button{

    background: red

}

.otonom-manuel-surus button.clicked1{

    background: linear-gradient(to right, green 34%, red 34%);

}

.otonom-manuel-surus button.clicked2 {

    background: linear-gradient(to right, red 0, red 35%, green 35%, green 65%, red 65%);

}

.otonom-manuel-surus button.clicked3 {

    background: linear-gradient(to right, red 66%, green 34%);

}

@media only screen and (max-width: 2200px) {

    .screen-container{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}

.paragraf h1{
    
    text-align: center;
    font-size: 100px;
    color: red;

}
